.flex__col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex__col.turbine {
	max-width: 24px;
}
.flex__row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex__col > *, .flex__row > * {
	flex: 1 0;
}

.flex--center {
	align-items: center;
}

#blades_row {
	align-items: center;
	justify-content: center;
}
#coils_row {
	align-items: center;
	justify-content: center;
}

.turbinebox {
	width: 24px;
	min-height: 24px;
	justify-content: center;
}
.turbinebox.border {
	border: 2px solid #050505;
}
.turbinebox.border.selected {
	border: 2px solid #3347EF;
}

.turbinecasing {
	background-color: #184236;
}

.turbineshaft {
	background-color: #A8B1DD;
}

.turbinerotor {
	max-width: 6px;
	height: 20px;
	z-index: 1;
}
.turbinerotor.horizontal {
	max-width: 9px;
	height: 24px;
}
.turbinerotor.top {
	height: 18px;
	margin-top: 6px;
}
.turbinerotor.bottom {
	height: 18px;
	margin-bottom: 6px;
}
.turbinerotor.none {

}
.turbinerotor.steel {
	background-color: #7A7F80;
}
.turbinerotor.tungstencarbide {
	background-color: #111111;
}

.turbinecoil {}
.turbinecoil.border {
	border: 2px solid #A8A8A8;
}
.turbinecoil.border.active {
	border: 2px solid #51B863;
}
.turbinecoil.border.inactive {
	border: 2px solid #B86351;
}
.turbinecoil.border.selected {
	border: 2px solid #3347EF;
}
.turbinecoil.none {
	background-color: #184236;
}
.turbinecoil.bearing {
	background-color: #A8B1DD;
}
.turbinecoil.magnesium {
	background-color: #B893D5;
}
.turbinecoil.beryllium {
	background-color: #8B8187;
}
.turbinecoil.lithium {
	background-color: #ADAFAB;
}
.turbinecoil.aluminium {
	background-color: #848789;
}

#turbine_coil_desc {
	display: flex;
	min-width: 320px;
	max-width: 320px;
	min-height: 380px;
	max-height: 380px;
	background-color: #B6B6B6;
	border-radius: 8px;
	justify-content: center;
}
.turbinecoildesc {
	display: flex;
	position: relative;
}
