.flex__col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex__col.turbine {
	max-width: 24px;
}
.flex__row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.justify {
	display: flex;
	justify-content: center;
}

.flex__col > *, .flex__row > * {
	flex: 1 0;
}

.flex--center {
	align-items: center;
}

#blades_row {
	align-items: center;
	justify-content: center;
}
#coils_row {
	align-items: center;
	justify-content: center;
}

.turbinebox {
	min-width: 24px;
	min-height: 24px;
	max-width: 24px;
	max-height: 24px;
	justify-content: center;
}
.turbinebox.border {
	border: 2px solid #050505;
}
.turbinebox.border.selected {
	border: 2px solid #3347EF;
}

.turbinecasing {
	background-color: #184236;
}
.turbinecasing.small {
	min-width: 20px;
	min-height: 20px;
	max-width: 20px;
	max-height: 20px;
	border: 2px solid #050505;
}

.turbineshaft {
	background-color: #A8B1DD;
}

.turbinerotor {
	max-width: 6px;
	height: 20px;
	z-index: 1;
}
.turbinerotor.horizontal {
	max-width: 9px;
	height: 24px;
}
.turbinerotor.top {
	height: 18px;
	margin-top: 6px;
}
.turbinerotor.bottom {
	height: 18px;
	margin-bottom: 6px;
}
.turbinerotor.selection {
	margin: auto;
	margin-top: 2px;
}
.turbinerotor.steel {
	background-color: #9D9D9E;
}
.turbinerotor.extreme {
	background-color: #782A50;
}
.turbinerotor.sicsiccmc {
	background-color: #807C6E
}
.turbinerotor.stator {
	background-color: #111111;
}

.turbinecoil {
	min-width: 20px;
	min-height: 20px;
	max-width: 20px;
	max-height: 20px;
}
.turbinecoil.border {
	border: 2px solid #A8A8A8;
}
.turbinecoil.border.active {
	border: 2px solid #51B863;
}
.turbinecoil.border.inactive {
	border: 2px solid #B86351;
}
.turbinecoil.border.selected {
	border: 2px solid #3347EF;
}
.turbinecoil.none {
	background-color: #184236;
}
.turbinecoil.bearing {
	background-color: #A8B1DD;
}
.turbinecoil.connector {
	background-color: #555753;
}
.turbinecoil.magnesium {
	background-color: #DD88BB;
}
.turbinecoil.beryllium {
	background-color: #BBCCAA;
}
.turbinecoil.aluminium {
	background-color: #CCDDCC;
}
.turbinecoil.gold {
	background-color: #FFCC00;
}
.turbinecoil.copper {
	background-color: #DD8866;
}
.turbinecoil.silver {
	background-color: #CCCCCC;
}

.desc {
	display: flex;
	min-width: 98vw;
	max-width: 98vw;
	min-height: 200px;
	max-height: 200px;
	background-color: #B6B6B6;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	padding: auto;
}
.coildesc {
	display: flex;
	position: relative;
}
